@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono&display=swap');

body, :root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

span, p, ul {
  font-family: 'Lato', Arial, Helvetica, sans-serif;
}

nav h2 {
  margin: auto;
  font-size: 1.7em;
}

nav {
  display: flex;
  padding: 1.5vh 2rem;
  background: #073254;
  align-items: center;
  justify-content: center;
}

nav .logo {
  color: #fff;
  font-size: 1.7em;
  font-weight: 500;
  text-decoration: none;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

nav ul li {
  margin: 0 5px;
}

nav ul li a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

@media (max-width: 920px) {
  nav ul {
    display: none;
  }
}
